@font-face { font-family: Rajdhani; src: url('https://fonts.googleapis.com/css?family=Rajdhani'); } 

body{
    background-image: url("stars.png");
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    font-family: 'Rajdhani';
}

line{
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    font-family: 'Rajdhani';
}